{% extends "core/base3.html" %}
{% load static %}
{% block content %}



<div class="crazxydiv123">
    <div></div>
    <div>


      <!-- start of main container-->
<div class="subjectdisp">
  <!-- start of first row -->
  <div>
      <div class="fdgvdsf44223ghj">
          <div class="row4545hhh">

            <div class="columnmhjghg675">
                  
              <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                
                <h4><a href="{% url 'maths' %}" >Maths</a></h4>
                <p>Practice Tests and </p>
                <p>Revision Guides</p>  
               
              </div>
            </div>
           

            <div class="columnmhjghg675">
                  
              <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                
                <h4><a href="{% url 'english' %}" >English</a></h4>
                <p>Practice Tests and </p>
                <p>Revision Guides</p>  
               
              </div>
            </div>
                

          </div>
      </div>
  </div>
  <!-- start of second row -->
  <div>

      <div class="fdgvdsf44223ghj">
          <div class="row4545hhh">
              
            <div class="columnmhjghg675">
                  
              <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                
                <h4><a href="{% url 'kiswahili' %}" >Kiswahili</a></h4>
                <p>Practice Tests and </p>
                <p>Revision Guides</p>  
               
              </div>
            </div>
                


            <div class="columnmhjghg675">
                  
              <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                
                <h4><a href="{% url 'science' %}" >Intergrated Science</a></h4>
                <p>Practice Tests and </p>
                <p>Revision Guides</p>  
               
              </div>
            </div>
               
    

          </div>
      </div>
      

  </div>

  <!-- start of fifth row -->
  
  <div>

      <div class="fdgvdsf44223ghj">
          <div class="row4545hhh">
            <div class="columnmhjghg675">
                  
              <div title="unlock test" class="cardfgfdsg555" style="background-color: lightcyan">
                
                <h4><a href="{% url 'social' %}" >Social Arts</a></h4>
                <p>Practice Tests and </p>
                <p>Revision Guides</p>  
               
              </div>
            </div>
               


            
                

          </div>
      </div>
  </div>
 <!-- end of fifth row -->

</div>


        
        
    </div>
    <div></div>
</div>

{% endblock %}
  